.photo-grid__list {
    display: grid;
    margin: 0 auto;
    padding: 0;
    grid-template-rows: repeat(auto-fit, minmax(361px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    row-gap: 20px;
    column-gap: 17px;
    justify-content: center;
    align-content: center;
    list-style-type: none;
}