.edit-form__input_ctrl_name {
    margin-top: 54px;
}

/*.edit-form__input_ctrl_name {
    margin: 0;
    padding: 54px 36px 0;
}

@media screen and (max-width: 1023px) {
    .edit-form__input_ctrl_name {
        padding: 60px 28px 0; 
    }
}

@media screen and (max-width: 767px) {
    .edit-form__input_ctrl_name {
        padding: 75px 22px 0; 
    }
}*/