.edit-form__input_ctrl_job {
    margin-top: 70px;
}

/*.edit-form__input_ctrl_job {
        margin: 0;
        padding: 30px 36px 0;
}

@media screen and (max-width: 1023px) {
    .edit-form__input_ctrl_job {
        padding: 30px 28px 0; 
    }
}

@media screen and (max-width: 767px) {
    .edit-form__input_ctrl_job {
        padding: 30px 22px 0; 
    }
}
*/