.profile__info {
    display: grid;
    position: relative;
    grid-template-columns: 294px 30px;
    grid-template-rows: 70px 18px;
    margin: 0;
    padding: 0;
    column-gap: 18px;
    row-gap: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
    
    /*
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}
*/
@media screen and (max-width: 767px) {
    .profile__info {
        column-gap: 10px;
        row-gap: 14px;
        grid-template-rows: 26px 14px;
    }
}