.profile__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}

@media screen and (max-width: 767px) {
    .profile__info {
        gap: 14px;
    }
}