.profile__avatar-editButton {
    height: 120px;
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    background-image: url(../../../images/edit-button.svg);
    background-size: 26px;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}

.profile__avatar-editButton:hover {
    display: flex;
}